import { DynamoDBClient } from '@aws-sdk/client-dynamodb';

export async function up(ddb: DynamoDBClient) {
    // TODO write your migration here.
}

export async function down(ddb: DynamoDBClient) {
    // TODO write the statements to rollback your migration 
}
